  <div id="page" 
     data-formats='{
       "wide": {"width": 3000, "height":1600, "cols":5, "rows":4}, 
       "normal":   {"width": 2400, "height":1600, "cols":4, "rows":4}
     }'>
  </div>
  <div id='topNav' style="text-align: center; vertical-align: middle;">
    <A href="" id="btnLogin">login</A> 
  </div>

  <div id='bottomNav'> </div>
     
