  <div id="page" 
     data-formats='{
       "wide": {"width": 3000, "height":1600, "cols":5, "rows":4}, 
       "normal":   {"width": 2400, "height":1600, "cols":4, "rows":4}
     }'>
  </div>
  <div id='topNav' style="text-align: center; vertical-align: middle;">
    <A href="" id="btnLogin">login</A> 
  </div>

    <div class="visual-elt narration" id="p1"
        data-include-in-viewport = 'normal,wide'
        data-row='{"tablet_1":1, "normal": 1, "wide":1}' 
        data-col='{"tablet_a":1, "normal":3, "wide":1}'
        data-hor-span='{"tablet_a":1, "normal":2, "wide":1}' 
        data-vert-span='{"tablet_a":1, "normal":2, "wide":4}'
        style="background-color:blue;">
   <p>
  </div>
    <div class="visual-elt" id="p2"
        data-include-in-viewport = 'normal,wide'
        data-row='{"tablet_1":1, "normal": 1, "wide":1}' 
        data-col='{"tablet_a":1, "normal":3, "wide":2}'
        data-hor-span='{"tablet_a":1, "normal":2, "wide":3}' 
        data-vert-span='{"tablet_a":1, "normal":2, "wide":4}'
        style="background-color:pink;">
  </div>

  <div class="visual-elt " id="p3"
    data-include-in-viewport = 'normal,wide'
    data-row='{"tablet_1":1, "normal": 1, "wide":1}' 
    data-col='{"tablet_a":1, "normal":3, "wide":5}'
    data-hor-span='{"tablet_a":1, "normal":2, "wide":1}' 
    data-vert-span='{"tablet_a":1, "normal":2, "wide":4}'
    style="background-color:red;">
  </div>


  <div id='bottomNav'> </div>
     
