:root{
    --main: #F8EFFC; 
    --crackle: #D36A00; 
    --rice: #004300;
    --ink: #A033FA;  
    --bang   : #330022; 
    --pop    : #00C6FA; 
    --snaple : #F491C4;
    --bee    : #9E79B8; 
    --wood   : #D3533A; 
    --crash  : #077AFA;
    --peaky  : #C45800; 
    --sky    : #53C7DB;
    --sun    : #FDDC61; 
}